.carousel-indicators li {
    width: 1rem;
    height: 1rem;
    background-color: $gray-800;
    box-shadow: inset  0px 0.5px 3px 1px  $gray-900;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
    &:hover{
        background-color:$primary;
    }
}

.carousel-indicators {
    bottom: -55px;
    background-color: white;
    @media(min-width: 992px){
        bottom: -84px;
      }
}

.carousel-caption1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
 
}

.carousel-caption2{
    transition: 1s;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
   
}

.carousel-caption3{
    transition: 1s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    &:hover{
        opacity: 1;
    }
}


.style-page{
    font-size: 17px;
    color:white;
    &:hover{
        color:$gray-400;
    }
    @media(min-width: 576px){
        font-size: 30px;
       }
    @media(min-width: 992px){
        font-size: 60px;
       }
}

.style-page1{
    font-size: 17px;
    color:white;
    &:hover{
        color:$gray-400;
    }
    @media(min-width: 576px){
        font-size: 20px;
       }
}



.line1 {
    border-bottom: 3px white;
    text-decoration-line: underline;
}

.icon-0{
    font-size: 15px;
    color: white;
    &:hover{
        color:$gray-400;
    }
    @media(min-width: 576px){
        font-size: 25px;
       }
}

.icon-3{
    font-size: 13px;
    color: white;
    &:hover{
        color:$gray-400;
    }
    @media(min-width: 576px){
        font-size: 18px;
       }
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    bottom: 50%;
   
}


.info-inner1{
    position: absolute;
    top:78%;
    right:0%;
    @media(min-width: 576px){
        top:81%;
        right:5%;
       }
}


.color_white1{
        color:white;
        font-size: 12px;
        &:hover{
            color:$secondary;
    }
    @media(min-width: 576px){
        font-size: 16px;
    }
}

.line2{
    border-bottom: 1px solid white;
    width: 100px;
    @media(min-width: 576px){
        width: 120px;
        font-size: 16px;
        
       }
}

.height-500{
    width: 100%;
    @media(min-width: 1200px){
        height: 500px;
    }
}
