.card-cat{
    font-size: 95px;
    color: white;
    font-weight: bold;
    &:hover{
        color: $secondary;
    }
}

.card-cat-1{
    font-size: 95px; 
    font-weight: bold;
    color: white;
}

.card-title{
    font-size: 15px;
    color: white;
    &:hover{
        color: $secondary;
    }
}
.card-title1{
    font-size: 25px;
    color: white;
    font-weight: bold;
    &:hover{
        color: $secondary;
    }
}

.card-title2{
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.bg-black {
    background-color: black;
}

.product-image{
    position: relative;
    width: 100%;
}
.product-image2{
    position: relative;
    width: 300px;
}
.line-0 {
    border-bottom: 2px solid $secondary;
    width: 220px;
}

.line-01 {
    border-bottom: 2px solid $secondary;
    width: 140px;
}

.line-3{
    border-left: 1px solid $secondary;
    height: 100%;
        
}

.card-inner{
    color: white;
    font-size:20px;
    font-weight: 100;
}



.card-title-1{
    position: absolute;
    color:white;
    font-size: 35px;
    font-weight: bold;
    top	: 100px;
	left: 40px;
    width: 100%;
    @media(min-width: 768px){
        top	: 90px;
        font-size: 40px;
      }
}
.card-size{
    top	: 140px;
    @media(min-width: 768px){
        top	: 140px;
      }
}

.detail-link{
    position: absolute;
    color:white;
    top	: 210px;
	left: 40px;
    width: 100%;
    @media(min-width: 768px){
        top	: 210px;
      }
}

.img-250{
    height: 250px;
}

.h2-like{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.h3-like{
    color:white;
    font-size: 35px;
    font-weight: bold;
    &:hover{
        color:$secondary;
    }
    @media(min-width: 768px){
        font-size: 60px;
      }
}
// size
.video-like{
    font-size: 20px;
}

.size-100vh{
    height: 100%;
     @media(min-width: 992px){
        height: 100vh;
      } 
}

