
.search-box{
position: absolute;
 top: 83%;
 left: 7%;
 transform: translate(0%,-50%);
 background: #2f3640;
  border-radius: 40px;
  
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover >{
  background: white;
}
.search-btn{
  color: white;
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color:$secondary;
  }

  @media(min-width: 768px){
    width: 30px;
    height: 30px;
   }
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: right;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  margin-top: 3px;
  width: 0px;
 }














