
.search-box{
position: absolute;
 top: 83%;
 left: 7%;
 transform: translate(0%,-50%);
 background: #2f3640;
  border-radius: 40px;
  
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover >{
  background: white;
}
.search-btn{
  color: white;
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color:$secondary;
  }

  @media(min-width: 768px){
    width: 30px;
    height: 30px;
   }
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: right;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  margin-top: 3px;
  width: 0px;
 }

//  forms-2

 .group{
   position:relative; 
   width:50%; 
   margin-bottom:30px;
  }

  .input-like{
    border:none; 
    background-color: black;
    color: white;
    border-bottom:1px solid #333;
     padding:10px;
     display:block; 
     width:100%;
     
    &:focus{
      outline:none;
    }
    &:focus ~ label,
    &:valid ~label{
       top:-10px; 
       font-size:14px; 
       color:$secondary;}
  }

  .label{
    position:absolute; 
    color: white;
    top:12px; 
    transition:0.2s ease all;
  }

  .bar{position:relative;
    display:block;
    width:100%;
   
    &:before{
      content:"";
      position:absolute; 
      left:50%;
      right:50%; 
      bottom:0;
      background:$secondary;
      height:4px;
      transition:left 0.2s ease-out,
      right 0.2s ease-out;
    }
  }

  .input-like-1:focus ~ .bar:before{
    left:0;
    right:0;}
  
  .input-like:focus ~ .bar:before{
    left:0;
    right:0;}

  .group-textarea{
    position:relative; 
  }
.input-like-1{
  border:none; 
  background-color: black;
  color: white;
  border-bottom:1px solid #333;
   padding:10px;
   display:block; 
   width:100%;
 
  &:focus{
    outline:none;
  }
  &:focus ~ label,
  &:valid ~label{
     top:-10px; 
     font-size:14px; 
     color:$secondary;}
}


 














