.modal-size{
   height: 480px;
      
}

.modal_login{
    text-align: center;
    font-weight: bold;
}

.modal-close{
    color: white;
    opacity: 1;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.5rem;
}

.form_modal{
    width: 140px;
    height: 35px;
    text-align: start;
   
    background-color: #76ae36;
    
    padding-left: 40px;
    
    border: none;
    @media(min-width: 320px){
        width: 200px;
        height: 35px;
      }
    @media(min-width: 576px){
        width: 250px;
        height: 35px;
      }
    @media(min-width: 992px){
        width: 400px;
        height: 45px;
      }
}

.icon-modal1{
    background-image:url("../img/30_login000000.png");
    background-repeat:no-repeat;
    background-position: 4% 50%;
}
.icon-modal2{
    background-image:url("../img/30_1_login.png");
    background-repeat:no-repeat;
    background-position: 4% 50%;
}
.form_modal_0{
    width: 140px;
    height: 35px;
    text-align: start;
    background-color: #76ae36;
    padding-left: 40px;
    border: none;
    @media(min-width: 320px){
        width: 200px;
        height: 35px;
      }
    @media(min-width: 576px){
        width: 250px;
        height: 35px;
      }
    @media(min-width: 992px){
        width: 400px;
        height: 45px;
      }
}

.form_modal::-webkit-input-placeholder {color:white;}

.form_modal_1{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    width: 140px;
    height: 35px;
    text-align: start;
    background-color: #76ae36;
    background-repeat:no-repeat;
    padding-left: 40px;
    background-position: 4% 50%;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
    &:hover{
        color: #000000;
        background-color: white;
        box-shadow: 1px 1px 13px 2px rgba(97,160,41,1);
        
    }
    @media(min-width: 320px){
        width: 200px;
        height: 35px;
      }
    @media(min-width: 576px){
        width: 250px;
        height: 35px;
      }     
    @media(min-width: 992px){
        flex-direction: row;
        width: 140px;
        height: 45px;
      }
}
.form_modal_2{
    width: 140px;
    height: 55px;
    text-align: start;
    background-image:url("../img/301_login.png");
    background-color: #76ae36;
    background-repeat:no-repeat;
    padding-left: 40px;
    background-position: 4% 50%;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
    &:hover{
        background-color: white;
        color: #000000;
        background-image:url("../img/3033_login.png");
        box-shadow: 1px 1px 13px 2px rgba(97,160,41,1);
    } 
    @media(min-width: 320px){
        width: 200px;
        height: 35px;
      }
    @media(min-width: 576px){
        width: 250px;
        height: 35px;
      }
    @media(min-width: 992px){
        flex-direction: row;
        width: 250px;
        height: 45px;
      }
}

.d-flex_1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(min-width: 992px){
        flex-direction: row;}
}

.text-modal{
    color: white;
    font-size: 18px;
   
}

// Modal 404
.modal-404{
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  @media(min-width: 992px){
    font-size: 200px;
  }
}

.modal-close1{

  color: $dark;
  opacity: 1;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.5rem;
}

.img-size{
  height: 80px;
  @media(min-width: 992px){
    height: 180px;
  }
}

.modal-size1{
  height: 580px;
     
}
.form_modal_3{
  border: 1px solid white;
  border-radius: 3px;
   &:hover{
    border: 1px solid $secondary;
    color:$secondary;

   }
}

.info-inner{
  position: absolute;
  top:83%;
  font-size: 13px;
  font-weight: 100;
  right: 42%;
  
  
  @media(min-width: 576px){
    right: 48%;
    font-size: 14px;
  }
  @media(min-width: 768px){
    right: 48%;
    font-size: 17px;
  }
}

.card-rating-icon{
  color: white;
  &:hover{
    color: $secondary;
  }
}

.modal-content{
  opacity:0.9;
}



.user1{
  background-color: $cyan;
  color:white;
  &:hover{
    color:$secondary; 
  }
}

.icon-group{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}





