    .account-information{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -1rem;
    margin-bottom: -1rem;
    margin-top:0;
    margin-bottom: 15px;
    

    .info-inner{
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
   
    .messages-block{
    align-items: center;
   
    .btn{
        position: relative;
        border-radius: 50%;
        font-size: 14px;
        padding: 0;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        margin-left: 3px;
        margin-right: 3px;
    }
    .badge{
        position: absolute;
        border-radius: 50%;
        color: $white;
    }
    .dropdown-menu{
        border: 1px solid $gray-700;
        padding: 0;
        margin: 0;
        border-radius: 0;
        
        .dropdown-item + .dropdown-item{
            border-top:1px solid $gray-700;
        }
    }
    .dropdown-item{
        padding: 20px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .img-wrapper{
            width: 54px;
            height: 54px;
            background-color:$gray-700;
            overflow: hidden; 
            border-radius: 50%;
        }
        .img-wrapper-box{
            width: 75px;
            height: 55px;
            background-color:$gray-700;
            overflow: hidden;
        }
        .message{
            margin-right: 30px;
            margin-left: 23px;
        }
        
        .message3{
            margin-right: 30px;
            margin-left: 40px;
        }
        .message35{
            margin-right: 35px;
            margin-left: 40px;
        }
        .message45{
            margin-right: 45px;
        }

        .total{
            font-size: 16px;
            font-weight: 700;
            margin-left: 20px;
            margin-right: 20px;
        }

        .dropdown-info-btn{
            font-size: 12px;
            padding: 8px 25px;
        }
        .dropdown-info-btn1{
            font-size: 12px;
            padding: 8px 18px;
        }

        .message-notification:hover{
            color: $orange;
        }

        .massage-author{
            font-size: 12px;
        }
        .massage-author1{
            font-size: 15px;
        }
        .message-title{
            font-size: 12px;
        }
        .message-price{
            font-size: 16px;
        }
        .message-date{
            font-size: 10px;
        }
    }
}
    .user{
        align-items: center;
        .dropdown{
            font-size: 14px;
            .btn{
                padding: 0;
                font-size: 14px;
            }
        }

        .user-logo{
            height: 32px;
            overflow: hidden; 
            border-radius: 50%;
            margin-right: 9px;
            align-items: center;
        }
    }

    .info-btn{
        font-size: 12px;
        padding: 6px 16px;
    }

    .fa-angel{
        align-items: center;
    .message-fa-angle{
       color: $primary;
       padding-right: 5px;
      
    }}
    .message-title{
        font-size: 12px;
    }
}



// Main content --------------------------------------------------------
.text-blobk1{
    color: $gray-900;
    .fa-blobk1{
       padding-right: 10px;
       padding-top: 4px;
    }
    .fa-blobk2{
        padding-left: 9px;
        padding-top: 3px;
    }

    .fa-blobk3 {
        padding-right: 14px;
    }
}
